<!DOCTYPE html>
<html>
<!-- служебная часть -->

<head>
  <!-- заголовок страницы -->
  <title>Иванов Иван - Python разработчик</title>
  <!-- настраиваем служебную информацию для браузеров -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- загружаем Бутстрап -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style.css">

  <style type="text/css">

  </style>
  <!-- закрываем служебную часть страницы -->
</head>

<body>
<div class="responsive-container-block bigContainer">
  <div class="responsive-container-block Container bottomContainer">
    <div class="ultimateImg">
      <img class="mainImg" src="https://pushinka.top/uploads/posts/2023-08/1693239195_pushinka-top-p-kartinka-luchshii-sotrudnik-krasivo-21.png">

    </div>
    <div class="allText bottomText">
      <p class="text-blk headingText">
        Немного о себе:
      </p>
      <p class="text-blk subHeadingText">
        Иванов Иван Иванович - Python разработчик
      </p>
      <p class="text-blk description">
       Обладаю необходимыми навыками для разработки веб-сайтов на языке Python,
        используя ведущие фреймворки Django, Flask и FastAPI. Работаю с различными
        базами данных, такими как MySQL, PostgreSQL, и SQLite через ORM фреймворков
        (Django ORM, Flask-SQLAlchemy) или используя SQLAlchemy. Также обладаю знаниями языка запросов SQL.
      <p class="text-blk description">
      Владею навыками в разработке REST API с применением инструментов для аутентификации по токену,
      таких как JWT + Djoser. Мои проекты включают в себя использование инструментов контейнеризации,
      таких как Docker и Docker Compose, а также в проектах применяются веб-серверы Nginx и Gunicorn.
    </p>
      </p>
    </div>
  </div>
</div>
</body>
<!-- конец всей страницы -->

</html>